<!DOCTYPE html>
<html>

<head>
  <title>please implement</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>

  <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th><a href="/"><span class="glyphicon glyphicon-home"></span></a></th>
      {% for repo, language in table.languages.items() %}
        <th scope="col">
          <a href="/{{ repo }}">{{ language }}</a>
        </th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for ex in table.rows %}
      <tr>
        <th scope="row">
          {{ ex }}
          (<a href="https://github.com/exercism/x-common/blob/master/{{ ex }}.md">md</a>,
          <a href="https://github.com/exercism/x-common/blob/master/{{ ex }}.yml">yml</a>)
        </th>
        {% for repo in table.languages %}
          <td>
            {% if ex in table.exercises[repo] %}
              <a href="https://github.com/exercism/{{ repo }}/tree/master/{{ ex }}">done</a>
            {% else %}
              do it!
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="footer">
    <div class="container">
      <p>
        <a href="/">please implement</a>: exercises yet to be implemented for <a href=http://exercism.io>exercism.io</a>
        &middot;
        <a href="https://github.com/sjakobi/please-implement">source</a>
        &middot;
        <a href="mailto:simon.jakobi@gmail.com">contact</a>
      </p>
    </div>
  </div>

</body>
</html>
