<!DOCTYPE html>
<html>

<head>
  <title>please implement</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>
          <a href="/"><span class="glyphicon glyphicon-home"></span></a>
        </th>
        {% for repo, language in table.languages.items() %}
          <th>
            <a href="/{{ repo }}">{{ language }}</a>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>
          <a href="/"><span class="glyphicon glyphicon-home"></span></a>
        </th>
        {% for repo, language in table.languages.items() %}
          <th>
            <a href="/{{ repo }}">{{ language }}</a>
          </th>
        {% endfor %}
      </tr>
    </tfoot>
    <tbody>
    {% for ex in table.rows %}
      <tr>
        <th>
          {{ ex }}<br>
          (<a href="https://github.com/exercism/x-common/blob/master/{{ ex }}.md">md</a>
          ,{{ " " }}
          <a href="https://github.com/exercism/x-common/blob/master/{{ ex }}.yml">yml</a>)
        </th>
        {% for repo in table.languages %}
          <td>
            {% if ex in table.exercises[repo] %}
              <a href="https://github.com/exercism/{{ repo }}/tree/master/{{ ex }}">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
            {% else %}
              <span class="glyphicon glyphicon-remove" title="Implement me!"></span>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="footer">
    <div class="row text-muted">

      <div class="col-md-4">
        <span class="glyphicon glyphicon-home"></span>, {{ " " }}
        <span class="glyphicon glyphicon-ok"></span> {{ " " }}
        and {{ " " }}
        <span class="glyphicon glyphicon-remove"></span> {{ " " }}
        by {{ " " }}
        <a href="http://glyphicons.com">glyphicons</a>
      </div>

      <div class="col-md-4">
        <a href="/">please implement</a>
        : exercises yet to be implemented for {{ " " }}
        <a href=http://exercism.io>exercism.io</a>
      </div>

      <div class="col-md-4">
        <a href="https://github.com/sjakobi/please-implement">source</a>
        {{ " " }} · {{ " " }}
        <a href="mailto:simon.jakobi@gmail.com">contact</a>
      </div>

    </div>
  </div>

</body>
</html>
